/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

span {
  color: #ff4a4a;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

/* ここからCSSを記述してください */
header {
  color: white;
  background-color: #26d0c9;
  height: 90px;
  
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 30px;
}

.header-list {
  float: left;
}

.copy-container {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.contents {
  height: 500px;
  margin-left: 80px;
  margin-bottom: 100px;
}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  margin-top: 30px;
  font-size: 24px;
}

.contact-form {
  margin-left: 80px;
  margin-bottom: 100px;
}

input,textarea {
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #dee7ec;
  font-size: 18px;
}

.contact-submit {
  color: #889eab;
  background-color: #dee7ec;
}

.footer {
  color: #fff;
  background-color: #2f5167;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li {
  list-style: none;
  margin-bottom: 20px;
}
